.Title
{
	background-color: #4CAF50;
    color: white;
	height: 100%;
    text-align: center;
	
	
    font-size: 30px;
    border: none;
  
    
   overflow: hidden; 
   
	right: 0px; 
	left: 0px;   
	 
}
	
.achtergrond_ogen
{
	background-color:  #001a00
	
}

.highlighted
{
	border: 2px solid #083102;
	background-color: #147906;
	
	
	
	
}
	 
	


.difke
{
	float: left; 
	margin: 150px; 
	width: 500px; 
	height: 492px; 
	border: solid green 5px; 
	text-align: center; 
	
	
}
#test
{
	width: 120px; 
	height: 120px; 
	position: absolute;
	margin-left: 750px;
	top: 350px; 
	
}
#test2
{
	width: 300px; 
	height: 50px; 
	background-color: #4CAF50; 
	position: absolute;
	margin-left: 660px;
	top: 700px; 
	cursor: pointer; 
	border: 2px solid #083102;
	text-align: center; 
	font-size: 30px;  
	
}
.difkeheader
{
	 
	height: 50px; 
	
	border: solid #006600 5px; 
	
}
body
{
	background-color: grey;
}
img
{
	box-sizing: border-box; 
	margin: 0 20px;
}

